<!--Example only-->
{% extends "main/base.html" %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method = "post" action = "#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">  
            <input type="text", value="{{item.text}}" class="form-control">
            <input type="text", value="{{item.definition}}" class="form-control">
            <button type="submit" name="deleteItem" value="{{ item.id }}">Delete</button>
        </div>
        {% endfor %}
        <div class="input-group mb-3">
            <label for="exampleWord" class="form-label">Word:</label>   <!--Fix spacing between "word" and "define"-->
            <input type = "text", name = "new">
        </div>
        <div>
            <label for="exampleDefinition" class="form-label"> Define: </label>
            <input type = "text", name = "definition"></div>
        <button type = "submit", name = "newItem", value = "newItem", class="btn-success">Add Item</button>
    </form>
{% endblock %}
