{% extends "main/base.html" %}

{% block content %}

<style>
  body {
    height: 20vh;
    background: linear-gradient(45deg, #5D8AA8, #003366);
    color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-box {
    border: 2px solid #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .list-box a {
    text-decoration: none;
    color: #fff;
  }
</style>

{% csrf_token %}
{% for list in ls %}
<div class="list-box">
    <a href="/view/{{list.id}}">{{list.name}}</a>
</div>
{% endfor %}

{% endblock %}
