{% extends "main/base.html" %}

{% block content %}

<style>* 
  body {
        height: 100vh;
        background: linear-gradient(45deg, #5D8AA8, #003366);
        color: rgb(211, 211, 211);
        justify-content: center;
        align-items: center;
  }

  .container {
        background-color: white;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        }
</style>

{% csrf_token %}
{% for list in ls %}
<div class="container">
  <div>
      <a href="/view/{{list.id}}">{{list.name}}</a>
        <form action = "/{{list.id}}">
          <button type = "submit">Edit</button>
        </form>
        <!--<a>-</a>-->
  </div>
</div>
{% endfor %}

{% endblock %}